.idea/
.idea
__pycache__/
__pycache__
venv/
virtual/
env/

Experimento2/3004-Monitor/src/__pycache__/
Experimento2/3004-Monitor/src/blueprints/__pycache__/
Experimento2/3004-Monitor/src/models/__pycache__/
Experimento2/3004-Monitor/src/error/
Experimento2/3004-Monitor/virtual/
Experimento1/.DS_Store
